body {
    background-color: black;
    font-family: Arial, sans-serif;
}

/* .pageTitle {
    color: white;
    font-style: white;
} */

.pageTitle {
    color: white;
    font-style: italic;
    font-size: 100px;
    font: bold;
    text-align: center;
}

.hero-url {
    color: white;
    font-style: italic;
    font-size: 20px;
    font: bold;
    text-align: center;
}

.hero-fileUpload {
    color: white;
    font-style: italic;
    font-size: 20px;
    font: bold;
    text-align: center;

}

.hero-driveFileUpload {
    color: white;
    font-style: italic;
    font-size: 20px;
    font: bold;
    text-align: center;

}